bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/
.idea/
.vscode/
*.cab
*.msi
*.msm
*.msp
.vs2019/
.vs2017/
.idea/
.vscode/
.idea/
Temporary ASP.NET Files/
.nuget/
*.user
*.userosscache
*.suo
*.userprefs
.vscode/
*.config
.vs2019/
.vs2017/
.vscode/
.localhistory/
.tye/
.globalconfig