project.lock.json
project.fragment.lock.json
artifacts/
.idea/
*.cab
*.msi
*.msm
*.msp
.vs2019/
.vs2017/
Temporary ASP.NET Files/
.nuget/
*.user
*.userosscache
*.suo
*.userprefs
*.config
.localhistory/
.tye/
.globalconfig
.fake
*.xml
*.pdb
obj/
bin/
.vscode/
GeneratoreF